<!DOCTYPE html>
<html>
  <head>
    <title>Shoe Stores</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='../css/styles.css'>
  </head>
  <body>
    <div class="container-fluid">
        <div class="panel-title panel">
          <h1>Shoe Stores</h1>
        </div>
    </div>
    <br>
    <div class="container-fluid">
      <div class="panel panel-custom">
        <div class="panel-body">
            <%= yield %>
        </div>
      </div>
      <a href="/">Home</a><br>
    </div>
  </body>
</html>
